$navbar-color: #ffffff;
$navbar-color-hover:#061e37;
$white:#fff;
$black: #000;
$preferences-text :#b0bec5;
$preferences-desc :#78909c; 
$preferences-btn:#1de9b6;
$achivements1-color:#80d8ff;
$achivements2-color:#82b1ff;
$achivements3-color:#b388ff;
$achivements4-color:#ea80fc;
$contactusbg-color:#fafafa;