.services{

    &__info{
        text-align: center;

    }
    &__title{
        margin-bottom: 30px;
        color:$navbar-color-hover;
        font-size: 45px;
        font-weight: 600;

    }
    &__desc{
        color: $preferences-text;
        line-height: 25px;
        margin-bottom: 50px;
    }

    &__menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        &-item{
            width: 800px;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-bottom: 20px;

            &-info{
                display: flex;

                img{
                    margin-right: 25px;
                }
                p{
                    color:$black;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        

            a{
                justify-content: space-between;
                display: flex;
                padding: 20px 25px;
            }

            &-btn{
                
                display: none;
                align-items: center;
                margin-bottom: 20px;

                 li{
                    
                    display: flex;
                    margin-bottom: 24px;
                    

                 }
                img{
                    padding-left:25px;
                }
                p{
                    
                    color:$navbar-color-hover;
                    line-height: 25px;
                    font-size:15px;
                    padding-left: 25px;
                    padding-right: 33px;
                }




            }
        }

    }
}
.services__menu-item a:focus ~ .services__menu-item-btn,
.services__menu-item a:active ~ .services__menu-item-btn,
.services__menu-item-btn:hover
{
    display: block;
}
a:active, a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}